{% extends 'poll/base.html' %}

{% block content %}
    <h1>Vote</h1>
    <p>{{poll.question}}</p>
    {% if choice %}
    <form method="post" action="" id="voteForm">{% csrf_token %}
        <fieldset>
            {% for choice in choice %}
                <p>
                    <input type="radio" name="choice" id="choice" value="{{choice.id}}" />
                    <label for="choice">{{choice.choice}}</label>
                </p>
            {%endfor%}
            <input type="submit" id="submit" value="Submit" />
        </fieldset>
            
    </form>
    {% else %}
    <p class="noChoice">No votes have been added to this poll yet!</p>
    {% endif %}
{% endblock %}